/* -- LOGIN PAGE! -- */
body.login { background: #ffffff;font-family:'Lato', sans-serif; }
body.login.login-action-lostpassword p#nav { display:none; }
body.login div#login h1 {width:100%;height:170px;}
body.login div#login h1 a {background-image:url(images/tectura_logo.svg); background-position:center center; background-size:230px; width:100%;height:170px;}
body.login div#login form#loginform, body.login div#login form#lostpasswordform, body.login div#login form#resetpassform {background:transparent;border-radius:0px;box-shadow:none;border:0px;padding:30px 0px 0px;}
body.login div#login .password-input-wrapper {width:100%;position:relative;}
body.login div#login form#resetpassform .password-input-wrapper input[type="password"]#pass1 {display:block;}
body.login div#login form#resetpassform .password-input-wrapper.show-password input[type="password"]#pass1 {display:none;}
body.login div#login form#resetpassform .password-input-wrapper input[type="text"]#pass1-text {display:none;}
body.login div#login form#resetpassform .password-input-wrapper.show-password input[type="text"]#pass1-text {display:block;}
body.login div#login form#resetpassform .password-input-wrapper .button-secondary {
	padding:7px !important;
	height:auto !important;
	font-size:1em !important;
	line-height:1em !important;
	display:block;
	position:absolute;
	top:1em;right:0px;
}
body.login div#login form#loginform p {color:#444;}
body.login div#login p.message {color:#fff;border:0px none transparent;background:rgba(161,125,35,1);padding:1.5em;font-weight:600;border-radius:3px;}
body.login div#login form#loginform p label, body.login div#login form p label {position:relative;z-index:98;display:block;color:#444;font-family:inherit;font-size:0.85em;}
body.login div#login form#lostpasswordform input[type="text"] {
	background:#eee;
}

body.login div#login input[type="text"], 
body.login div#login input[type="password"] {background:#eee;display: block;width: 100%;margin: 1em auto;padding: 0.75em 1.25em 0.75em 1.25em;font-weight: 300;font-size: 1em;border-width: 0px 0px 2px 0px;border-style: none none solid none;border-color: transparent transparent #cfd2d3 transparent;transition: background 0.3s ease, padding 0.3s ease;box-shadow:0px 0px 0px;}
body.login div#login form#loginform p.submit {color:#000000;}
body.login div#login form#loginform p#assistance {margin:1em auto;}
body.login div#login form#loginform p.forgetmenot {display:none;}
body.login div#login .button-primary {background: #c14729;display: block;width: 100%;height:auto;text-shadow:0px 0px 0px;padding: 0.75em 1.25em;color: #ffffff;font-weight: 400;font-size: 1em;text-transform: uppercase;border: 0px none transparent;border-radius: 3px;box-shadow: none;cursor: pointer;transition: background 0.3s ease;text-align: center;}
body.login div#login form#loginform p.submit input#wp-submit:hover, body.login div#login .button-primary:hover { background:rgba(161,125,35,1); transition: all .2s; }
body.login a, body.login a:link, body.login a:visited {color:rgba(193,71,41,1);text-shadow:0px 0px 0px;text-decoration:none;}
body.login div#login p#nav {color:#d27e18;text-shadow:0px 0px 0px;}
body.login div#login p#nav a, body.login div#login p#nav a:link, body.login div#login p#nav a:visited {color:rgba(193,71,41,1);text-shadow:0px 0px 0px;text-decoration:none;}
body.login div#login p#backtoblog {color:rgba(193,71,41,1);text-shadow:0px 0px 0px;}

body.login div#login p#backtoblog a, body.login div#login p#backtoblog a:link, body.login div#login p#backtoblog a:visited {color:rgba(193,71,41,1);text-shadow:0px 0px 0px;text-decoration:none;}
body.login div#login p#backtoblog a:hover {color:#000;}
