.library {
	.main:not(.flex) {
		padding-top:2em;
		@media screen and (max-width:799px) {
			padding-top:4em;
		}
		
	}
	.page-header {
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:auto;
		z-index:15;
		background:@light;
		box-shadow:0px 0px 10px fadeOut(@dark, 50%);
		text-align:right;
		padding:1em 3vw 1em 12vw;
		.btn {
			&:link, &:visited {
				display:inline-table;
				font-weight:800;
				font-size:1em;
				text-transform:uppercase;
				padding:0.5em 0.75em;
				text-decoration:none;
				background:@tan;
				color:@white;
				border-radius:2px;
			}
		}
		.product-type {
			display:block;
			float:right;
			padding:0.25em;
			@media screen and (max-width:599px) {
				float:none;
				margin:0px auto;
				select {
					
				}
			}
			label {
				font-weight:800;
				font-size:0.75em;
				color:@dark;
				position:relative;
				
				
			}
			select {
				cursor:pointer;
				padding:0.25em 3em 0.25em 0.25em;
				margin-left:0.25em;
				border:1px solid fadeOut(@dark, 70%);
				background:fadeOut(@white, 50%);
				&:focus, &:hover {
					+ span {
						&:before {
							background:lighten(@dark, 20%);
						}
					}
				}
				+ span {
					&:before {

						color:@white;
						font-size:1.5em;
						display:block;
						position:absolute;
						z-index:11;
						top:-3px;right:1px;bottom:0;left:auto;
						background:lighten(@dark, 10%);
						width:1em;height:100%;
						padding:0.15em 0.25em 0.25em;
						pointer-events:none;
						cursor:pointer;
						&:hover {
							background:lighten(@dark, 20%);
						}
					}
				}
			}
		}
		button, a.button {
			background:@red;
			border-radius:50%;
			border:0px none transparent;
			color:@white;
			width:3em;
			height:3em;
			font-size:0.75em;
			position:relative;
			cursor:pointer;
			transition:background 0.2s ease;
			&.share, &.download {
				float:right;
				margin-left:1em;
			}
			&.download {
				background:@tan;
			}
			&:hover {
				background:@dark;
			}
			span {
				display:block;
				text-indent:-9999px;
				&.icon-share {
					&:before {
						left:47%;
					}
				}
				&:before {
					display:block;
					position:absolute;
					text-indent:0px;
					top:50%;
					left:50%;
					font-size:2em;
					transform:translate(-50%,-50%);
				}
			}
		}
		
		@media screen and (max-width:599px) {
			
			padding:14vh 1em 1em;
			
		}
		@media screen and (max-width:799px) {
			
			padding:10vmax 1em 1em;
			
		}
	}	
	
	.thumbnail-wrapper{
		width:85%;
		margin:1em 7.5% 0px;
		height:auto;
		padding-top:56.25%;
		box-shadow:0px 0px 5px fadeOut(@dark, 70%);
		display:block;
		position:relative;
		overflow:hidden;
		transition:box-shadow 0.2s ease;
		&.file {
			box-shadow:0px 0px 0px;
			padding-top:35%;
			&:hover {
				box-shadow:0px 0px 0px;
			}
			span {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				font-size:5em;
				opacity:0.5
			}
		}
		&:hover {
			box-shadow:0px 0px 10px fadeOut(@dark, 50%);
		}
		img {
			display:block;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			width:auto;
			height:auto;
			min-width:100%;
			min-height:100%;
			max-width: 150%;
			max-height: auto;
			&.gallery-thumbnail {
				box-sizing: border-box;
				border:0px solid transparent;
				transition:all 0.2s ease;
				
			}
		}
		&.gallery{
			cursor:pointer;
		}
	}
	
	.grid-item {
		text-align:center;
		div { text-align:center }
		h3 {
			margin: 1em 7.5% 0px;
			width:85%;
			text-align:left;
			color:@dark;
			font-size:1em;
			font-weight:800;
		}
		h4 {
			margin: 0px 7.5%;
			width:85%;
			font-style:italic;
			text-align:left;
			color:@dark;
		}
		.btn {
			&:link, &:visited {
				display:inline-table;
				margin: 1em auto 0;
				background:@red;
				color:@white;
				font-weight:800;
				text-transform:uppercase;
				border-radius:2px;
				padding:0.5em 1em;
				text-align:center;
				transition:background 0.2s ease;
			}
			&:hover {
				background:@tan;
			}
		}
		button {
			font-family:inherit;
			border:0px none transparent;
			font-weight:800;
			text-transform:uppercase;
			border-radius:2px;
			display:inline-table;
			margin: 1em auto 0;
			background:@red;
			color:@white;
			cursor:pointer;
			padding:0.5em 1em;
			text-align:center;
			transition:background 0.2s ease;
			&:hover {
				background:@tan;
			}
		}
	}

	
	.image-viewer {
		position:fixed;
		z-index:12;
		top:4em;
		right:0px;
		left:10vw;
		bottom:auto;
		height: 100vh;
		background-color: @light;
		@media screen and (max-width:799px) {
			left:0px;
			
		}
		.view-body {

			&:before {
				clear:both;
				display:block;
				content:" ";
			}
		}
		.counter {
			position:absolute;
			top:2em;
			left:2em;
			z-index:13;
			background:fadeOut(@dark,90%);
			border-radius:2em;
			padding:0.5em 1em;
			color:@white;
		}
		.toggle-view {
			position:absolute;
			top:2em;
			right:2em;
			z-index:13;
			background:fadeOut(@dark,90%);
			border-radius:2em;
			color:@white;
			padding:0.25em 0.25em 0px;
			text-align:center;
			cursor:pointer;
			transition:background 0.2s ease;
			&:hover {
				background:fadeOut(@white,50%);
			}
			span {
				font-size:1.2em;
				text-align:center;
			}
		}
		.next,.prev {
			position:absolute;
			top:48vh;
			right:2em;
			z-index:13;
			background:fadeOut(@white,40%);
			border-radius:2em;
			color:@white;
			padding:0.25em 0.25em 0px;
			text-align:center;
			cursor:pointer;
			box-shadow:0px 0px 7px fadeOut(@dark,60%);
			transition:background 0.2s ease;
			mix-blend-mode:screen;
			&.prev {
				left:2em;
				right:auto;
				span {
					&:before {
						position:relative;
						right:3px;
						left:auto;
					}
				}
			}
			&:hover {
				background:fadeOut(@red,30%);
				mix-blend-mode:hard-light;
			}
			span {
				font-size:3em;
				line-height:1em;
				color:@white;
				transition:color 0.2s ease;
				&:before {
					position:relative;
					left:3px;
					top:1px;
				}
				&:hover {
					color:@dark;
				}
			}
		}
		img {
			max-height:2500px;
			height:100%;
			width:auto;
			max-width:2500px;
			display: block;
			margin:0 auto;
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:auto;
			z-index:10;
		}
		&.video {
			.view-body {
				position:relative;
				width:100%;
				padding-bottom: 56.25%;
			    padding-top:0px;
			    height: 0;
			    overflow: hidden;
				&:before {
					clear:both;
					display:block;
					content:" ";
				}
				iframe {
					position:absolute;
					top:0;left:0;right:0;bottom:0;
					width:100%;
					height:100%;
					max-width:100%;
					max-height:100%;
				}
			}
			
		}
	}
	.image-selector {
		min-height:72vh;
		@media screen and (orientation:portrait) {
			min-height:55vh;
		}
		.select-all {
			margin-left:2vw;
			margin-bottom:1em;
			font-size:1em;
			font-weight:800;
			position:relative;
			display:block;
			width:100%;
			padding-left:1.75em;
			span:not('.checkbox') {
				position:relative;
				top:2px;
				margin-left:15px;
			}
			input[type="checkbox"] {
				position:absolute;
				top:0px;
				left:0px;
				z-index:12;
				opacity:0;
				cursor:pointer;
				+ span.checkbox {
					position:absolute;
					z-index:11;
					top:0;
					left:0;
					width:1.3em;
					height:1.3em;
					background:@white;
					border:1px solid @light;
					box-shadow:0px 0px 4px fadeOut(@dark, 60%);
					transition:background 0.2s ease, border-color 0.2s ease;
					&:before {
						opacity:0;
						font-size:1em;
						color:@white;
						transition:opacity 0.2s ease;
						position:relative;
						top:1px;left:2px;
					}
				}
				&:checked {
					+ span.checkbox {
						background:@red;
						border:1px solid @red;
						&:before {
							opacity:1;
						}
					}
				}
			}
			
		}
		.grid-item.selector { 
			position:relative;
			display:block;
			
			.thumbnail-wrapper {
				
				position:relative;
				z-index:12;
				&.file-wrapper {
					padding:5%;
					min-height:7em;
					box-shadow:0px 0px 0px;
					border:1px solid fadeOut(@dark, 50%);
					span.icon-file{
						font-size: 5em;
						color:fadeOut(@dark, 20%);
					}
				}
				
				input[type="checkbox"] {
					z-index:15;
					position:absolute;
					top:0px;
					right:7.5%;
					padding:0.5em;
					opacity:0;
					cursor:pointer;
					
					+ span.checkbox {
						z-index:11;
						position:absolute;
						top:0px;
						right:0px;
						width:1.3em;
						height:1.3em;
						background:@white;
						border:1px solid @light;
						box-shadow:0px 0px 4px fadeOut(@dark, 60%);
						transition:background 0.2s ease, border-color 0.2s ease;
						&:before {
							opacity:0;
							font-size:1em;
							color:@white;
							transition:opacity 0.2s ease;
							position:relative;
							top:2px;left:2px;
						}
					}
					&:checked {
						+ span.checkbox {
							border:1px solid @red;
							background:@red;
							&:before {
								opacity:1;
							}
						}
					}
				}
				
			}

		}
	}
	
	.step-two {
		
		.form-wrapper {
			max-width:550px;
			min-height:72.5vh;
			display:block;
			margin:0px auto;	
			label {
				display: none;
			}
			h3 {
				font-weight: bold;
				margin:1.5em 0;
			}
		}
		.asset-view {
			img {
				max-width:20%;
				display:block;
				float:left;
				margin:0px 1em 1em 0px;
			}
			.icon-file.review-page{
				font-size: 2em; 
				vertical-align: middle;
				padding-right: .4em;
			}
			font-size:1em;
			font-weight:800;
			span {
				button{
					cursor:pointer;
					background:transparent;
					color:@red;
					font-weight:800;
					border:0px none transparent;
					box-shadow:0px 0px 0px;
					margin:0px 0px;
				}
			}
			&:after {
				content:" ";
				display:block;
				clear:both;
			}
		}
		.select {
			position:relative;
			select {
				width: 100%;
				box-sizing: border-box;
				margin:0;
				padding:1em;
				border:none;
				background:transparent;
				border-bottom:1px solid fadeOut(@dark, 70%);
				-webkit-appearance: none;
				-moz-appearance: none;

				+ span {
				    color:@red;
				    text-transform:uppercase;
				    font-size:0.5em;
				    font-weight:800;
				    position:absolute;
				    z-index:10;
				    right:2em;
				    top:auto;
				    bottom:2em;

			    }
			}
		}
		
		.recipient-block {
			div {
				position:relative;
				margin:0px 0px 1em;
				max-width:250px;
				width:100%;
				label {display: none;}
				input[type=text], input[type=email] {
				    width: 100%;
				    padding:1em;
				    margin:0;
				    box-sizing: border-box;
				    border: none;
					background-color:fadeOut(@white, 75%);
				    border-bottom:1px solid fadeOut(@dark, 70%);
				    position:relative;
				    transition:background 0.15s ease;
				    &:focus {
					    background:fadeOut(@white, 40%);
				    }
				    + span {
					    color:@red;
					    text-transform:uppercase;
					    font-size:0.5em;
					    font-weight:800;
					    position:absolute;
					    right:1em;
					    top:50%;
					    transform:translateY(-50%);
				    }
				}
				
			}
		}
		.add {
			background:transparent;
			border: none;
			font-weight: bold;
			color:@red;
			cursor:pointer;
			&:hover {
				color:@tan;
				&:before {
					background:@tan;
				}
			}
			&:before {
				color:@white;
				background:@red;
				transform:rotate(45deg);
				border-radius:50%;
				padding:0.15em;
				position:relative;
				display:inline-table;
				margin-right:0.5em;
			}
		}
		.remove {
			background:@red;
			border: none;
			display:block;
			margin-bottom:0.1em;
			padding:0.15em 0.25em;
			border-radius:3px;
			font-weight: bold;
			color:@light;
			cursor:pointer;
		}
		textarea {
			margin:1em auto;
			width:100%;
			padding:1em;
			border:0px none transparent;
			background:fadeOut(@white, 50%);
		}
	}	
}