.fadeTranslate-enter {
  opacity: 0.01;
}
.fadeTranslate-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.fadeTranslate-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.fadeTranslate-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}

.fadeDownTranslate {
  display: inline-block;
  margin-left: 0.5rem;
  transform: scale(1.25);
}
.fadeDownTranslate-enter {
  opacity: 0.01;
  transform: translateY(-100%) scale(0.75);
}
.fadeDownTranslate-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1.25);
  transition: all 300ms ease-out;
}
.fadeDownTranslate-exit {
  opacity: 1;
  transform: scale(1.25);
}
.fadeDownTranslate-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 300ms ease-in;
}