.main-navigation {
  .back-arrow{
    border: none;
    background: @white;
    color: @dark;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    top:2%;
    left: 50%;
    transition: color 0.2s ease;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    @media screen and (max-width:799px) {
	    left:0px;
	    top:50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
    &:hover {
	    cursor:pointer;
	    color:@red;
    }
  }
}
.body.news{
  .page-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    background: #cfd2d3;
    box-shadow: 0 0 10px rgba(61,57,53,.2);
    max-width: 2000px;
    padding: 1em 1em 1em 11vw;
    @media screen and (max-width:799px) {
	   	top:8vmax;
    }
    h2{
      font-size: 1em; 
      font-weight: 800;
      text-transform: uppercase;
     
    }
    .title{
      padding: .5em .75em;
      color: @dark;
      font-size: 1em;
      font-weight: 800;
      text-transform: uppercase;
    }
    .news-btn{
      padding: .5em .75em;
      border-radius: 3px;
      background: @tan;
      color: @white;
      font-size: 1em;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration:none;
      transition:background 0.2s ease;
      &:hover {
	      background:@dark;
      }
    }
  }
}
.post{
  position:relative;
  display:block;
  cursor:pointer;
  background:fadeOut(@dark, 20%);
  overflow: hidden;
    &:hover {
  	  &:after {
  		  transform:scale(1.01,1.01);
  	  }
    }
    &:after {
  	  display:block;
  	  content:" ";
  	  position:absolute;
  	  z-index:-1;
  	  top:0;left:0;right:0;bottom:0;
  	  background-size: cover;
  	  background-repeat: no-repeat;
  	  background-image: url(../images/placeholder.jpg);
  	  background-position:center center;
    	  transform:scale(1,1);
    	  transition:transform 0.2s ease;	
    }
    > * {
  	  position:relative;
  	  z-index:11;
    }
  .exerpt{
  display: block;
  }
  h2 {
		color:@white;
  }
  p {
	  color:@white;
  }
}

.body{
  .singlepost{
    position:relative;
    padding-top:12vh;
    display: block;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width:799px) {
	   	padding-top:15vmax;
    }
    h3{
      text-transform: uppercase; 
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.5em;
      color: @dark;
    }
    h4{font-weight: bold;}
    p{color:@dark;}
    .postimage{
      display: block;
      margin:0 auto;
      padding: 1.5em 0;
      max-height: 500px;
      max-width: 100%;
    }
  }
}