.body.requests {
	position:relative;
	.page-header {
		position:absolute;
		top:0;left:0;right:0;bottom:auto;
		width:100%;
		background:@light;
		box-shadow:0px 0px 10px fadeOut(@dark, 80%);
		max-width:2000px;
		padding:1em 1em 1em 11vw;
		.btn {
			padding:0.5em 0.75em;
			border-radius:3px;
			background:@tan;
			color:@white;
			font-size:1em;
			font-weight:800;
			text-transform:uppercase;
		}
	}
	.main {
		background-color: transparent;
		position:relative;
		padding-top:10vh;
		.field-wrapper {
			label {
				display: none;
			}
			h3 {
				font-weight: bold;
				margin:1.5em 0;
				a {
					&:link, &:visited {
						font-weight:inherit;
					}
					&:hover {
						color:@dark;
					}
				}
			}
			hr {
				border-top:1px solid @dark;
				border-bottom:0px none transparent;
				box-shadow:0px 0px 0px;
				opacity:0.5;
			}
		}
		.select {
			position:relative;
			select {
				width: 100%;
				box-sizing: border-box;
				margin:0;
				padding:1em;
				border:none;
				background:fadeOut(@white, 75%);
				border-bottom:1px solid fadeOut(@dark, 70%);
				-webkit-appearance: none;
				-moz-appearance: none;
				&:focus {
					background:fadeOut(@white, 40%);
				}
				+ span {
				    color:@red;
				    text-transform:uppercase;
				    font-size:0.5em;
				    font-weight:800;
				    position:absolute;
				    z-index:10;
				    right:2em;
				    top:auto;
				    bottom:2em;
			    }
				}
			}
			h3.selectlabel{font-weight: bold;}

		.resource-grid{
			position:relative;
			display: grid;
			grid-template-columns: 50% 50%;
			.selected-resources{
				position:relative;
				display:block;
				position:relative;
				z-index:12;
				
				input[type="checkbox"] {
					z-index:15;
					position:absolute;
					margin-left: 1em;
					padding:0.5em;
					opacity:0;
					cursor:pointer;
					+ span.checkbox {
						z-index:11;
						position:absolute;
						margin-left: 1em;
						width:1.3em;
						height:1.3em;
						background:@white;
						border:1px solid @light;
						box-shadow:0px 0px 4px fadeOut(@dark, 60%);
						transition:background 0.2s ease, border-color 0.2s ease;
						&:before {
							opacity:0;
							font-size:1em;
							color:@white;
							transition:opacity 0.2s ease;
							position:relative;
							top:2px;left:2px;
						}
					}
					&:checked {
						+ span.checkbox {
							border:1px solid @red;
							background:@red;
							&:before {
								opacity:1;
							}
						}
					}
				}
				margin-bottom:1em;
				.gallery-thumbnail{
					position: relative;
					width: 200px;
					height: 200px;
					overflow: hidden;
					img {
						position: absolute;
						left: 50%;
						top: 50%;
						min-height: 100%;
						min-width:100%;
						max-width:120%;
						height:auto;
						width: auto;
						-webkit-transform: translate(-50%,-50%);
						-ms-transform: translate(-50%,-50%);
							 transform: translate(-50%,-50%);
					}
				}
				label{display: block; font-weight:800;margin:0.5em auto;font-size:0.9em;}
			}
		}
		.recipient-block {
			div {
				position:relative;
				margin:0px 0px 1em;
				max-width:250px;
				width:100%;
				label {display: none;}
				input[type=text], input[type=email] {
				    width: 100%;
				    padding:1em;
				    margin:0;
				    box-sizing: border-box;
				    border: none;
						background:fadeOut(@white, 75%);
				    border-bottom:1px solid fadeOut(@dark, 70%);
				    position:relative;
				    transition:background 0.15s ease;
				    &:focus {
					    background:fadeOut(@white, 40%);
				    }
				    + span {
					    color:@red;
					    text-transform:uppercase;
					    font-size:0.5em;
					    font-weight:800;
					    position:absolute;
					    right:1em;
					    top:50%;
					    transform:translateY(-50%);
				    }
				}
			}
		}
		.add {
			background:transparent;
			border: none;
			font-weight: bold;
			color:@red;
			cursor:pointer;
			&:hover {
				color:@tan;
				&:before {
					background:@tan;
				}
			}
			&:before {
				color:@white;
				background:@red;
				transform:rotate(45deg);
				border-radius:50%;
				padding:0.15em;
				position:relative;
				display:inline-table;
				margin-right:0.5em;
			}
		}
		.remove {
			background:@red;
			border: none;
			display:block;
			margin-bottom:1em;
			padding:0.15em 0.25em;
			border-radius:3px;
			font-weight: bold;
			color:@light;
			cursor:pointer;
		}
	}
}

.steptwo{
	.quanity {
		margin-left: 1em;
		width: 10%;
		font-size: 1em;
		text-align: center;
		font-weight: 300;
		box-sizing: border-box;
		padding:.5em;
		border:none;
		background:fadeOut(@white, 75%);
		border-bottom:1px solid fadeOut(@dark, 70%);
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus {
			background:fadeOut(@white, 40%);
		}
	}
	h3 {
		font-weight: bold;
		margin:1.5em 0;
	}
	.comments{
			margin-left: 3em;
			background: @white;
			border: 1px solid #000;
			width: 80%;
			height: 100px;
		}
	.recipient-info{
		margin-left: 3em;
	}
	.selected-resources{
		margin: 3em;
		img{
			position: relative;
			width: 100px;
			height: 100px;
			overflow: hidden;
			margin-right:1em;
			vertical-align: middle;
			.gallery-thumbnail{
				position: absolute;
				left: 50%;
				top: 50%;
				height: 100%;
				width: auto;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
					 transform: translate(-50%,-50%);
			}
		}
		button {
			background: none;
	    color: @red;
	    border: none;
	    padding: 0;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
		}
		label span{
			margin-right: 1em;
			color: @dark;
		}
	}
}
.breadcrumb {
	.btn{
	margin-right:.5em;
	}
	a.link{
		font-weight: 600;
	}
}