// Color variables (appears count calculates by raw css)
@white: rgba(255,255,255,1); // Appears 
@dark: rgba(61,57,53,1); // Appears 
@light: rgba(207,210,211,1);
@red: rgba(193,71,41,1);
@tan: rgba(161,125,35,1);

// Width variables (appears count calculates by raw css)
@fullwidth: 100%; // Appears 

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,900');

/*
Theme Name: Fast Horse Press
Description: FastHorse custom theme for wordpress.
Author: Joseph Rstom at Fast Horse, Inc.
Author URI: http://fasthorseinc.com
Text Domain: fhpress
Version: 1.0
*/

/* --------------------------------------------------------------
   Reset - originally based on
   Meyer's reset.css
   http://meyerweb.com/eric/tools/css/reset/
----------------------------------------------------------------- */
::moz-selection{ background-color: @dark; color: @white; }

::webkit-selection{ background-color: @dark; color: @white; }

::selection{ background-color:@dark; color: @white; }

:focus { outline: 0px; }

html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,
mark,audio,video {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	white-space: normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	background: transparent;
}
html, body {
	overflow-x:hidden;
}

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,
nav,section,audio,video, main {display:block;}

a img{border:0px; line-height: 1px; }

figure{position:relative;}

figure img{width:100%;}

table {border-collapse: collapse; border-spacing: 0px;}

input[type='text'],input[type='password'],input[type='search'],
input[type='email'],input[type='url'],input[type='tel'],textarea
{ -webkit-appearance: none; border: 1px solid @dark; }


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hur9py');
  src:  url('../fonts/icomoon.eot?hur9py#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hur9py') format('truetype'),
    url('../fonts/icomoon.woff?hur9py') format('woff'),
    url('../fonts/icomoon.svg?hur9py#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-colors:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-literature:before {
  content: "\e902";
}
.icon-tectura-u:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-request:before {
  content: "\e907";
}
.icon-file:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e90e";
}
.icon-download:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e91a";
}
.icon-file2:before {
  content: "\e91b";
}
.icon-graph:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-galleries:before {
  content: "\e90c";
}
.icon-password:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90f";
}
.icon-news:before {
  content: "\e910";
}
.icon-presentations:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-library:before {
  content: "\e913";
}
.icon-account:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-send:before {
  content: "\e91c";
}
.icon-sell-sheets:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-videos:before {
  content: "\e919";
}



#tectura-app{
	font-family: 'Lato', sans-serif;
	font-weight: 300px;
	
	position:relative;
	min-height:100vh;
	min-width:100vw;
	
	
	//MAIN NAV
	.main-navigation{
		position:fixed;
		width:10vw;
		height:100vh;
		z-index:9999;
		left:0px;top:0px;right:auto;bottom:0px;
		> button {
			display:none;
		}
		ul{
			background:@white;
			z-index:10;
			border-right:2px solid @light;
			box-shadow:0px 0px 10px fadeOut(@dark, 70%);
			height:100vh;
			display:flex;
			flex-direction:column;
			justify-content: center;
			position:relative;
			z-index:2;
			li {
				text-align:center;
				list-style-type:none;
				margin:2vh auto;
				a {
					text-decoration:none;
					color:@tan;
					font-weight:900;
					text-transform:uppercase;
					font-size:0.9vw;
					transition: color 0.2s ease;
					display: block;
					text-align:center;
					position:relative;
					&:before {
						display:block;
						text-align:center;
						font-size:2.5vw;
						margin-bottom:0.1em;
					}
					&:link, &:visited {
						color:@dark;
					}
					&:hover {
						color:@tan;
					}
					span.badge {
						position:absolute;
						bottom:0px;
						right:-2em;
						background:@red;
						color:@white;
						border-radius:50%;
						padding:0.25em;
						line-height:1em;
						width:1.5em;
						height:1.5em;
						text-align:center;
						font-size:0.75em;
					}
				}
				
			}
			
			
		}
		
		.secondary-navigation {
			position:absolute;
			z-index:15;
			top:0;left:0;right:auto;bottom:auto;
			padding:1em 2.5em;
			background:transparent;
			//box-shadow:0px 0px 10px fadeOut(@dark, 80%);
			@media screen and (min-width:800px) {
				padding:1em 2.5vw;
			}
			button {
				background:transparent;
				border:0px none transparent;
				box-shadow:0px 0px 0px;
				font-family:inherit;
				font-size:inherit;
				cursor:pointer;
				font-weight:800;
				text-transform:uppercase;
				font-size:2.8em;
				color:@dark;
				
				&:hover {
					color:@tan;
				}
			}
			@media screen and (max-width:799px) {
				top:12vh;
				left:0em;
				padding:0.5em 1em;
				text-align:left;
				button {
					display:none;
					font-size:1.5em;
					padding:0px;
				}
			}
		}
		@media screen and (max-width:599px) {
			bottom:auto;
			right:0;
			width:100vw;
			height:12vh;
			ul {
				height:12vh;
			
				flex-direction:row;
				li {
					margin:1vh auto;
					a {
						font-size:2vmax;
						&:before {
							font-size:5vh;
						}
					}
					&:nth-of-type(n+5) {
						display:none;
					}
				}
			}
		}
		@media screen and (max-width:799px) {
			bottom:auto;
			right:0;
			width:100vw;
			height:8vmax;
			ul {
				height:8vmax;
			
				flex-direction:row;
				li {
					margin:0.5vmax auto;
					a {
						font-size:1.5vmax;
						&:before {
							font-size:4vmax;
						}
					}
					&:nth-of-type(n+5) {
						display:none;
					}
				}
			}
		}
	
	}
	.body {
		background:@light;
		padding-left:10vw;
		min-height:100vh;
		min-width:100vw;
		text-align:center;
		
		&.has-secondary-nav{
			padding-top: 4em;
		}
		@media screen and (max-width:599px) {
			padding-left:0px;
			padding-top:12vh;
			&.has-secondary-nav{
				padding-top: 11em;
			}
		}
		@media screen and (max-width:799px) {
			padding-left:0px;
			padding-top:8vmax;
			&.has-secondary-nav{
				padding-top: 7.5em;
			}
		}
		
		//PAGE SPECIFIC COMPONENTS - CAN BE SEPARATED?
		&.login {
			background:@white;
			padding-left:0px;
			.main {
				background:transparent;
				height:100vh;
				max-width:500px;
				width:100%;
				margin:0px auto;
				display:flex;
				align-items:center;
				justify-content:center;
				flex-direction:column;
				.content {
					text-align:left;
					max-width:300px;
					.title {
						display:block;
						margin:0px auto 2em;
						img {
							width:100%;
							display:block;
							height:150px;
						}
					}
					.subtitle {
						margin:0px 0px 1em;
					}
					form {
						display:block;
						text-align:center;
						font-weight:900;
						font-size:0.85em;
						p {
							margin:0px 0px 1em;
						}
						.input {
							position:relative;
							&:before {
								position:absolute;
								top:0.2em;
								left:.25em;
								font-size:1.75em;
								opacity:0.5;
								transition:opacity 0.2s ease;
							}
							&:hover {
								&:before {
									opacity:1;
								}
							}
						}
						input {
							display:block;
							width:100%;
							margin:1em auto;
							padding:0.75em 1.25em 0.75em 3em;
							font-weight:300;
							font-size:0.85em;
							border-width:0px 0px 2px 0px;
							border-style:none none solid none;
							border-color: transparent transparent @light transparent;
							background:@white;
							transition:background 0.3s ease, padding 0.3s ease;
							
							&:focus {
								background:@light;
								padding:0.75em 1.25em 0.75em 3em;
							}
							+ span {
							    color:@red;
							    text-transform:uppercase;
							    font-size:0.5em;
							    font-weight:800;
							    position:absolute;
							    z-index:10;
							    right:2em;
							    top:auto;
							    bottom:2em;
			
						    }
						}
						button {
							background:@red;
							display:block;
							width:100%;
							padding:0.75em 1.25em;
							color:@white;
							font-weight:400;
							font-size:1.2em;
							text-transform:uppercase;
							border:0px none transparent;
							border-radius:3px;
							box-shadow:none;
							cursor:pointer;
							transition:background 0.3s ease;
							text-align:center;
							&:hover {
								background:@tan;
							}
						}
						.error-message {
							margin:0px auto 1em;
							color:@red;
							a {
								&:link, &:visited {
									color:@tan;
									display:block;
								}
								&:hover {
									color:@red;
								}
							}
						}
					}
				}
			}
		}
		&.requests > .main, &.posts > div {
			margin:0px auto 1em;
			width:90%;
			max-width:550px;
		}
		
		//GENERAL BUT HOME SPECIFIC ROUGHLY
		&.home, &.library:not(.has-secondary-nav) {
			.main {
				.flex-item {
					&:nth-child(4), &:nth-child(5){
						width:100%;
					}
					&:nth-child(n+6) {
						display:none;
					}
					@media screen and (min-width:600px) {
						&:nth-child(4){
							width:50%;
						}
					}
					@media screen and (min-width:800px) {
						&:nth-child(4), &:nth-child(5){
							width:50%;
						}
					}
				}
			}	
		}
		.main {
			background:@light;
			&.success {
				width:100%;
				height:80vh;
				display:flex;
				align-items:center;
				justify-content:center;
				
				.confirmation {
					font-weight:800;
					font-size:1.5em;
				}
			}
			.flex-item {
				float:left;
				width:100%;
				height:50vh;
				display:flex;
				align-items:center;
				justify-content:center;
				padding:5vw;
				background-size:cover;
				background-repeat:no-repeat;
				position:relative;
				overflow:hidden;
				flex-direction: column;
				flex-flow: column;
				@media screen and (min-width:600px) {
					width:50%;
				}
				@media screen and (orientation:portrait) {
					height:33.333vh;
				}
				@media screen and (min-width:800px) {
					width:33.3333%;
				}
				> * {
					position:relative;
					z-index:10;
				}
				&:before {
					display:block;
					content:" ";
					position:absolute;
					top:0;left:0;right:0;bottom:0;
					z-index:1;
					background:fadeOut(@dark, 40%);
					transition:background 0.3s ease;
					mix-blend-mode:multiply;
					
				}
				&:hover {
					cursor:pointer;
					&:before {
						background:fadeOut(@red, 20%);
					}
					.title {
						font-size:5.1vmax;
						letter-spacing:2px;
						@media screen and (min-width:600px) {
							font-size:3.1vmax;
						}
						@media screen and (min-width:800px) {
							font-size:2.1vw;
						}
					}
				}
				&.settings {
					display:none;
				}
				&.library {
					background-image:url(../images/library_bg.jpg);
				}
				&.request {
					background-image:url(../images/requests_bg.jpg);
				}
				&.news {
					background-image:url(../images/news_bg.jpg);
				}
				&.colors {
					background-image:url(../images/colors_bg.jpg);
				}
				&.tectura {
					background-image:url(../images/tu_bg.jpg);
				}
				&.literature {
					background-image:url(../images/catalogs_bg.jpg);
				}
				&.presentations {
					background-image:url(../images/presentations_bg.jpg);
				}
				&.sell-sheets {
					background-image:url(../images/sellsheets_bg.jpg);
				}
				&.videos {
					background-image:url(../images/videos_bg.jpg);
				}
				&.galleries {
					background-image:url(../images/galleries_bg.jpg);
				}
				
				&.active{
					border: 1px solid black;
				}
				span.badge {
					display:block;
					clear:both;
					background:@red;
					color:@white;
					font-weight:800;
					letter-spacing:0.1em;
					border-radius:2em;
					padding:0.6em 0.8em 0.5em;
					line-height:1em;
					text-transform:uppercase;
					text-align:center;
					font-size:0.65em;
				}
	
			}
			.grid {
				display: grid;
				grid-template-columns: 25% 25% 25% 25%;
				-ms-grid-columns:  25% 25% 25% 25%;
				.grid-item {
					display:block;
					position:relative;
					width:100%;
					height:auto;
					margin:0px auto 1em;
		
			
				}
				@media screen and (max-width:799px) {
					grid-template-columns: 50% 50%;
					-ms-grid-columns: 50% 50%;
				}
			}
			.single {
				margin:0px auto 1em;
				width:90%;
				max-width:550px;
			}
			.title {
				display:inline-table;
				font-weight:900;
				font-size:5vmax;
				text-transform:uppercase;
				letter-spacing:1px;
				color:@white;
				transition:font-size 0.2s ease, letter-spacing 0.2s ease;
				@media screen and (min-width:600px) {
					font-size:3vmax;
				}
				@media screen and (min-width:800px) {
					font-size:2vw;
				}
			}
			.subtitle {
				display:inline-table;
				font-weight:900;
				text-transform:uppercase;
				color:@white;
				background:@tan;
				padding:0.75em 1.25em;
			}
			a {
				&:link, &:visited {
					color:@red;
					text-decoration:none;
					font-weight:400;
					
				}
				&.button {
					background:@red;
					display:block;
					width:100%;
					padding:0.75em 1.25em;
					color:@white;
					font-weight:400;
					font-size:1.2em;
					text-transform:uppercase;
					border:0px none transparent;
					border-radius:3px;
					box-shadow:none;
					cursor:pointer;
					transition:background 0.3s ease;
					text-align:center;
					&:hover {
						background:@tan;
					}
				}
			}
		}
		.page-footer {
			padding:2vw;
			background:@dark;
			color:@white;
			position:relative;
			min-height:12vmax;
			.file-count {
				color:@white;
				font-weight:800;
				text-align:center;
			}
			button {
				position:absolute;
				right:2vw;
				top:2vw;
				padding:0.75em 1.25em;
				background:@red;
				font-weight:800;
				text-transform:uppercase;
				color:@white;
				border:0px none transparent;
				border-radius:3px;
				cursor:pointer;
				transition:background 0.2s ease;
				&.next, &.submit {
				padding-right:2em;
		
						&:before {
							position:absolute;
							right:0.25em;
							top:0.4em;
							font-size:1.5em;
						}
					
				}
				&.previous {
					right:auto;
					left:2vw;
					background:transparent;
					color:@white;
					&:before {
						color:inherit;
						font-size:1.5em;
						position:relative;
						top:3px;
						display:inline-block;
					}
					&:hover {
						background:transparent;
						color:@red;
					}
				}
				&:hover {
					background:@tan;
					
				}
			}
		}
	}

	.asset-view{
		img{
			width: 200px;
		}
	}
	
	
	@import "post.less";
	@import "gallery.less";
	@import "request.less";
	@import "page-animation.less";

}
// Animations loading
.loading {
  margin: 0px auto;
  width: 70px;
  height: 70px;
  position: fixed;
  top:50vh;
  left:50vw;
  transform:translate(-35px,-35px);
  .text {
	  font-family:inherit;
	 
	  font-size:0.6em;
	  font-weight:800;
	  width: 100%;
	  height: auto;
	  position: absolute;
	  text-align:center;
	  opacity:0.3;
	  left: 0;
	  bottom:-2.5em;
	 }
  .c {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  	&:before {
	  content: '';
	  display: block;
	  margin: 0 auto;
	  width: 15%;
	  height: 15%;
	  background:fadeOut(@dark, 100%);
	  border:1px solid @dark;
	  border-radius: 100%;
	  -webkit-animation: circleBounceDelay 1.2s infinite ease-in-out both;
	          animation: circleBounceDelay 1.2s infinite ease-in-out both;
	}
	&.c2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
          &:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
    }
	&.c3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); 
          &:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
     }
	&.c4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); 
        &:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
    }
    &.c5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
        &:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
    }
    &.c6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
        &:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
    }
	&.c7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); 
        &:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
    }
	&.c8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
        &:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
    }
	&.c9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); 
        &:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
    }
	&.c10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
        &:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
    }
	&.c11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
        &:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
    }
	&.c12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
       &:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }
   }
  }
}
@-webkit-keyframes circleBounceDelay {
   0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
             background:fadeOut(@dark, 100%);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
             background:fadeOut(@dark, 0%);
  }
}

@keyframes circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
             background:fadeOut(@dark, 100%);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
             background:fadeOut(@dark, 0%);
  }
}


